
*.ide-wal
*.ide-shm
*.ide-shm
*.ide
*.lock
Bulldozer/Bulldozer/.vs/Bulldozer/DesignTimeBuild/.dtbcache
*.dll
*.pdb
*.cache
*.targets
*.txt
*.props
*.json
Bulldozer/.vs/Bulldozer/v15/.suo
*.sln
Bulldozer/Bulldozer/.vs/Bulldozer/DesignTimeBuild/.dtbcache
*.lock
*.ide
*.ide-shm
*.ide-wal
*.csproj
